<VirtualHost *:80>

    ServerName {{ graphite_host }}
    WSGIDaemonProcess _graphite processes=5 threads=5 display-name='%{GROUP}' inactivity-timeout=120 user={{ graphite_user }} group={{ graphite_group }}
    WSGIProcessGroup {{ graphite_group }}
    WSGIImportScript /usr/share/graphite-web/graphite.wsgi process-group={{ graphite_group }} application-group=%{GLOBAL}
    WSGIScriptAlias / /usr/share/graphite-web/graphite.wsgi

	Header set Access-Control-Allow-Origin "*"
	Header set Access-Control-Allow-Methods "GET,OPTIONS"
	Header set Access-Control-Allow-Headers "origin, authorization, accept"

    Alias /content/ /usr/share/graphite-web/static/
    <Location "/content/">
            SetHandler None
    </Location>

    ErrorLog ${APACHE_LOG_DIR}/graphite-web_error.log

    # Possible values include: debug, info, notice, warn, error, crit,
    # alert, emerg.
    LogLevel warn

    CustomLog ${APACHE_LOG_DIR}/graphite-web_access.log combined

</VirtualHost>
