{
  
  "network": {
    "servers": ["{{ logstash_lumberjack_host }}:{{ logstash_lumberjack_port }}"],
    "ssl key": "/etc/ssl/private/logstash-forwarder.key",
    "ssl ca": "/etc/ssl/certs/logstash-forwarder.pem",
    "timeout": 15
  },
  "files": [
    {
      "paths": [ "{{ logstash_forwarder_path }}" ]
    }
  ]
}
