
NameVirtualHost *:80

<VirtualHost *:80>

    DocumentRoot {{ grafana_root }}/dist
    ServerName {{ grafana_host }}

    <Directory {{ grafana_root }}/current>
        Options Indexes FollowSymLinks MultiViews
        AllowOverride None
        Order allow,deny
        allow from all
    </Directory>

    ErrorLog ${APACHE_LOG_DIR}/grafana_error.log
    LogLevel warn
    CustomLog ${APACHE_LOG_DIR}/grafana_access.log combined

</VirtualHost>
