com.netflix.exhibitor.zookeeper-data-directory={{ zookeeper_data_path }}
com.netflix.exhibitor.zookeeper-install-directory={{ zookeeper_exhibitor_dir }}/zookeeper/*
com.netflix.exhibitor-rolling.zookeeper-install-directory={{ zookeeper_exhibitor_dir }}/zookeeper/*
com.netflix.exhibitor.auto-manage-instances=1
