#!/bin/sh
#taken from https://gist.github.com/naholyr/4275302
### BEGIN INIT INFO
# Provides:          {{zookeeper_app_name}}
# Required-Start:    $local_fs $network $named $time $syslog
# Required-Stop:     $local_fs $network $named $time $syslog
# Default-Start:     2 3 4 5
# Default-Stop:      0 1 6
# Description:       Init script for {{zookeeper_app_name}}
### END INIT INFO
 
SCRIPT={{zookeeper_folder}}/{{zookeeper_name}}/bin/zkServer.sh
RUNAS={{zookeeper_user}}

PIDNAME={{zookeeper_app_name}}.pid
PIDFILE=/var/run/$PIDNAME
LOGFILE=/var/log/{{zookeeper_app_name}}.log
export ZOOCFGDIR={{zookeeper_config_path}}
 
start() {
  if [ -f /var/run/$PIDNAME ]; then
    echo 'Service already running' >&2
    return 1
  fi
  echo 'Starting service…' >&2
  local CMD="$SCRIPT start &> \"$LOGFILE\" & echo \$!"
  su -c "$CMD" $RUNAS > "$PIDFILE"
  echo 'Service started' >&2
}
 
stop() {
  if [ ! -f "$PIDFILE" ]; then
    echo 'Service not running' >&2
    return 1
  fi
  echo 'Stopping service…' >&2
  rm -f "$PIDFILE"
  local CMD="$SCRIPT stop &> \"$LOGFILE\" & echo \$!"
  su -c "$CMD" $RUNAS
  su -c "pkill zookeeper"    
  echo 'Service stopped' >&2
}

status() {
if [ ! -f "$PIDFILE" ]; then
    echo 'Service not running' >&2
    return 1
  fi
  echo 'Checking status…' >&2
  local CMD="$SCRIPT status"
  su -c "$CMD" $RUNAS
}
 
uninstall() {
  echo -n "Are you really sure you want to uninstall this service? That cannot be undone. [yes|No] "
  local SURE
  read SURE
  if [ "$SURE" = "yes" ]; then
    stop
    rm -f "$PIDFILE"
    echo "Notice: log file is not be removed: '$LOGFILE'" >&2
    update-rc.d -f {{zookeeper_app_name}} remove
    rm -fv "$0"
  fi
}
 
case "$1" in
  start)
    start
    ;;
   status)
    status
    ;;
  stop)
    stop
    ;;
  uninstall)
    uninstall
    ;;
  retart)
    stop
    start
    ;;
  *)
    echo "Usage: $0 {start|status|stop|restart|uninstall}"
esac
