# {{ ansible_managed }}
input {
	if "for_redis" not in [tags] {
        lumberjack {
            port => {{ logstash_lumberjack_port }}
            ssl_certificate => "/etc/ssl/certs/logstash-forwarder.pem"
            ssl_key => "/etc/ssl/private/logstash-forwarder.key"
            type => "Lumberjack"
        }
    }
}
filter {
    if "for_redis" not in [tags] {
        mutate { add_tag => "for_redis" }
    }
}
# {{ ansible_managed }}
