# {{ ansible_managed }}
input {
	if "for_redis" in [tags] {
        redis {
            host => "127.0.0.1"
            type => "redis-input"
            data_type => "list"
            key => "syslog"
        }
    }
}
filter {
    if "for_redis" in [tags] {
        mutate { remove_tag => "for_redis" }
        mutate { add_tag => "for_es" }
    }
}
output {
	if "for_es" in [tags] {
	    elasticsearch {
		    host => "127.0.0.1"
    	}
    }
}
# {{ ansible_managed }}
