loglevel.default=INFO
rdeck.base=/var/lib/rundeck
rss.enabled=false
grails.serverURL=http://{{ rundeck_host }}:{{ rundeck_port }}
dataSource.dbCreate = update
dataSource.url = jdbc:h2:file:/var/lib/rundeck/data/rundeckdb;MVCC=true
